In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix

In [2]:
train_data = pd.read_csv('C:/Users/Admin/Downloads/Ghouls, Goblins, and Ghosts... Boo!/train.csv')
test_data = pd.read_csv('C:/Users/Admin/Downloads/Ghouls, Goblins, and Ghosts... Boo!/test.csv')

In [3]:
train_data.head()

   id  bone_length  rotting_flesh  hair_length  has_soul  color    type
0   0     0.354512       0.350839     0.465761  0.781142  clear   Ghoul
1   1     0.575560       0.425868     0.531401  0.439899  green  Goblin
2   2     0.467875       0.354330     0.811616  0.791225  black   Ghoul
3   4     0.776652       0.508723     0.636766  0.884464  black   Ghoul
4   5     0.566117       0.875862     0.418594  0.636438  green   Ghost

In [4]:
test_data.head()

   id  bone_length  rotting_flesh  hair_length  has_soul  color
0   3     0.471774       0.387937     0.706087  0.698537  black
1   6     0.427332       0.645024     0.565558  0.451462  white
2   9     0.549602       0.491931     0.660387  0.449809  black
3  10     0.638095       0.682867     0.471409  0.356924  white
4  13     0.361762       0.583997     0.377256  0.276364  black

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             371 non-null    int64
 1   bone_length    371 non-null    float64
 2   rotting_flesh  371 non-null    float64
 3   hair_length    371 non-null    float64
 4   has_soul       371 non-null    float64
 5   color          371 non-null    object
 6   type           371 non-null    object
dtypes: float64(4), int64(1), object(2)
memory usage: 20.4+ KB

In [6]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529 entries, 0 to 528
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             529 non-null    int64
 1   bone_length    529 non-null    float64
 2   rotting_flesh  529 non-null    float64
 3   hair_length    529 non-null    float64
 4   has_soul       529 non-null    float64
 5   color          529 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 24.9+ KB

In [7]:
test_data['color'].value_counts()

white    197
clear    172
black     63
green     53
blue      35
blood      9
Name: color, dtype: int64

In [8]:
train_data['type'].value_counts()

Ghoul     129
Goblin    125
Ghost     117
Name: type, dtype: int64

In [9]:
train_data['color']= train_data['color'].replace({'white':1,'clear':2,'black':3,'green':4,'blue':5,'blood':6})
train_data['type']= train_data['type'].replace({'Ghoul':1,'Goblin':2,'Ghost':3})
test_data['color']= test_data['color'].replace({'white':1,'clear':2,'black':3,'green':4,'blue':5,'blood':6})

In [10]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             371 non-null    int64
 1   bone_length    371 non-null    float64
 2   rotting_flesh  371 non-null    float64
 3   hair_length    371 non-null    float64
 4   has_soul       371 non-null    float64
 5   color          371 non-null    int64
 6   type           371 non-null    int64
dtypes: float64(4), int64(3)
memory usage: 20.4 KB

In [11]:
train_data =train_data.set_index('id')
test_data =test_data.set_index('id')

In [12]:
train_data.head(2)

    bone_length  rotting_flesh  hair_length  has_soul  color  type
id
0      0.354512       0.350839     0.465761  0.781142      2     1
1      0.575560       0.425868     0.531401  0.439899      4     2

In [13]:
test_data.head(2)

    bone_length  rotting_flesh  hair_length  has_soul  color
id
3      0.471774       0.387937     0.706087  0.698537      3
6      0.427332       0.645024     0.565558  0.451462      1

In [14]:
X_train = train_data.drop(columns='type')
y_train = train_data['type']
X_test = test_data

In [21]:
X_test

     bone_length  rotting_flesh  hair_length  has_soul  color
id
3       0.471774       0.387937     0.706087  0.698537      3
6       0.427332       0.645024     0.565558  0.451462      1
9       0.549602       0.491931     0.660387  0.449809      3
10      0.638095       0.682867     0.471409  0.356924      1
13      0.361762       0.583997     0.377256  0.276364      3
..           ...            ...          ...       ...    ...
893     0.377573       0.390158     0.696465  0.355373      5
894     0.229161       0.601265     0.191282  0.475115      2
895     0.510497       0.498347     0.708020  0.714154      1
898     0.331472       0.765835     0.338207  0.193431      2
899     0.256789       0.691802     0.415197  0.348971      1

[529 rows x 5 columns]

In [15]:
model = DecisionTreeClassifier()

In [16]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [17]:
X_test_prediction = model.predict(X_test)

In [23]:
print(X_test_prediction)

[2 1 1 1 3 3 1 1 2 2 3 1 1 3 1 3 2 3 3 1 1 2 2 2 2 2 2 2 1 2 2 1 1 1 2 1 3
 2 3 1 2 2 2 2 2 1 1 1 1 2 1 2 3 2 2 3 2 2 1 3 1 2 3 1 2 1 1 2 3 1 2 2 1 1
 2 2 2 2 3 1 3 1 1 1 3 3 3 2 3 3 3 3 1 2 3 3 3 2 2 3 1 2 2 2 1 2 1 1 1 1 3
 2 2 2 1 3 3 1 1 3 2 2 3 1 1 3 3 3 1 1 3 2 2 1 3 2 1 2 3 2 1 3 3 1 1 3 1 3
 3 2 2 1 2 2 2 3 1 1 2 1 1 2 1 2 3 3 2 3 2 3 3 1 3 1 1 1 3 1 2 1 3 2 1 1 3
 1 1 1 1 3 3 1 2 2 1 3 1 2 1 1 3 3 3 3 2 3 1 3 2 1 2 3 3 3 2 3 1 3 1 1 1 2
 2 1 1 2 3 3 2 3 3 2 3 3 3 1 3 1 2 1 3 3 3 3 2 3 2 3 3 2 3 3 3 2 3 2 3 1 3
 3 3 2 3 1 1 2 1 1 2 2 1 2 3 2 1 2 1 1 2 3 3 2 1 1 1 1 2 2 3 3 1 3 1 2 2 2
 3 2 3 2 2 1 3 3 1 1 2 2 3 1 1 1 2 3 3 1 2 3 3 3 3 3 1 2 3 2 3 2 3 1 1 2 1
 3 3 1 3 1 1 1 1 2 2 1 3 2 3 2 3 1 2 3 1 3 2 2 1 3 3 1 1 3 2 3 2 1 1 2 2 1
 3 3 1 3 2 3 1 2 3 1 1 3 3 3 3 3 3 3 2 2 1 1 3 3 3 2 1 2 2 1 3 1 2 1 3 1 1
 3 1 3 3 2 1 3 1 3 1 1 2 3 3 1 1 1 3 3 2 3 2 3 2 3 2 1 2 1 2 3 1 3 1 1 3 2
 3 2 3 1 3 1 1 1 2 2 2 3 2 3 1 1 3 3 1 1 2 2 3 1 2 3 1 1 2 1 3 3 1 3 3 1 1
 2 3 2 3 2 2 3 3 1 3 1 1 3 1 3 2 1 2 3 2 3 3 1 1 3 1 3 1 2 2 1 3 3 1 2 1 2
 1 3 1 2 1 1 2 3 1 3 3]

In [26]:
input_data = (0.4717744483003892,0.3879370564226163,0.7060866179614931,0.6985372637114671,3)
input_data_as_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)

if (prediction[0]==1):
    print('It is a Ghoul')
elif(prediction[0]==2):
    print('It is a Goblin')
else:
    print('It is a Ghoust')

It is a Goblin

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [40]:
res = pd.DataFrame(X_test_prediction)
res.index = X_test.index
res.columns = ['type']
res.to_csv('C:/Users/Admin/Downloads/Ghouls, Goblins, and Ghosts... Boo!/prediction_results1.csv')